/*constants*/
#status{
    position: absolute;
    z-index: 100;
}
body{
   font-family: 'Montserrat', sans-serif;
}
#owl-example{
    background-color: lightgrey;
}
.item h2{
    color: white;
    position: absolute;
    top:200;
    width: 100%;
    text-align: center;
}
 #owl-example .owl-item img{
    display: block;
    width: 100%;
    height: 90%;
}
.logo{
    color: white;
    position: absolute;
    width: 100%;
    z-index: 100;
    text-align: center;
    font-family: serif;
    text-align: center;
    letter-spacing: 4;
    font-weight: 100;
}
.navbar{
    opacity: 0.97;
    background-color: lightgrey;
    z-index: 100;
    position: absolute;
    width: 100%;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.navbar a{
    font-family:'Montserrat', sans-serif;
    color: white;
}
.navbar a:active{
    color:white;
}
.navbar a:hover{
    color: #f6f6f6;
}
.logo h1{
    text-align: center;
    font-family: serif;
    text-align: center;
    letter-spacing: 4;
    color: white;
    font-weight: 100;
}
.navbar ul li{
    list-style-type: none;
    display: inline-block;
    margin-left: 2%;
    margin-right: 5%;
    font-size: 14pt;
}
.header{
    height: 60%;
    /*background: url("header-boxes.jpg") center no-repeat;*/
    padding: 2vw 0 18vw 0;
    background-size: cover;
    letter-spacing: .1em;
    text-transform: uppercase;
    color: lightgreen;;
    font-size: 25pt;
    font-weight: 500;
    display: block;
    line-height: 1em;
    margin: 10px 0;
    text-align: center;
}
.header h1{
    letter-spacing: 14pt;
    margin-top: -.5%;
    font-size: 30pt;
}
.header button{
    margin-top: 10%;
}
.btn{
    background-color: white;
    border: none;
    font-size: 14pt;
    text-transform: uppercase;
    font-family:'Montserrat', sans-serif;
    padding: 14pt;
    transition: all 0.3s ease 0s;
}
.btn-greater{
    background-color: #f4e77d;
    color: white;
}
.btn-greater:hover{
    background-color: white;
    color: black;
    border: 1px solid #f4e77d;
}
.btn-lesser{
    background-color: #3099f4;
    color: white;
}
.btn-lesser:hover{
    background-color: white;
    color: black;
    border: 1px solid #3099f4;
}
.subliminal{
    margin-top: 50px !important;
    opacity: 0;
    padding-top: 7%;
    padding-bottom: 7%;
    color: #333333;
    font-weight: lighter;
    display: block;
    vertical-align: middle;
    margin: 10px 0;
    text-align: center;
    letter-spacing: .05em;
}
.line{
    height: 1.7%;
    width: 100%;
    position: absolute;
    display: inline-block;
    border-bottom: 2px solid lightgray;
    left: 0;
}
.line-text{
    padding: 0 20px;
    background: #fff;
    position: relative;
    font-size: 1.5rem;
    letter-spacing: .1em;
    text-transform: uppercase;
    width: 30%;
    margin: auto;
    line-height: 24px;
    text-align: center;
}
.products{
    background-image:url("http://www.dands.biz/images/PRODUCT_IMAGE/MERRILL_SK.jpg");
    /*background-size: cover;*/
    background-repeat: no-repeat;
    background-position: center;
    font-size: 14pt;
    height: 80%;
    width: 60%;
    margin-top: 5%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    opacity: 0;
}
.productInfo{
   text-align: center;
   width: 20%;
   opacity: 0;
}
.leftAnim{
  margin-right: 35;
}
.rightAnim{
  margin-left: 35;
}
.productInfo h3{
    font-size: 24pt;
}
.footer{
    text-align: center;
    height: 20%;
    background-color: #e6e6e6;
}
.footer i{
    transition: all 0.3s ease 0s;
    padding-left: 6%;
    padding-right: 6%;
    padding-top: 2%;
    font-size: 40pt;
}
.footer i:hover{
    color: white;
    background-color: grey;
}
.footer a{
    color: inherit;
}
hr{
    border-color: #dcdcdc;
}
li a{
    color: white;
}
li a:hover{
    color: white;
    text-decoration: none;
}
