<div>
  <img src="assets/store-header.jpg" style="width: 100%; height: 70%" />
  <div class="store-imageText">
    <h3>MERRILL'S ORGANICS</h3>
  </div>
  <br>
  <br>
  <span class="line"></span>
  <p class="line-text">OUR PRODUCTS</p>
</div>
<div class="store-products">
<div ui-sref="product({productId: 'tea'})" class="store-product">
  <img src="http://www.merrillsorganics.com/uploads/1/7/9/9/17998193/126041247.jpg"/>
  <h3>Compost Tea</h3>
</div>
<div ui-sref="product({productId: 'starter'})" class="store-product">
  <img src="http://www.merrillsorganics.com/uploads/1/7/9/9/17998193/169875786.jpg"/>
  <h3>Compost Tea Starter Kit</h3>
</div>
<div class="store-product">
  <img src="http://www.merrillsorganics.com/uploads/1/7/9/9/17998193/900161145.jpg"/>
  <h3>Garden Organics</h3>
</div>
<div class="store-product">
  <img src="http://www.merrillsorganics.com/uploads/1/7/9/9/17998193/891245657.jpg"/>
  <h3>Lawn Organics</h3>
</div>
</div>
